coverage/
dev-docs/
examples/
scripts/
src/

jest.config.js
appveyor.yml
codecov.yml
.travis.yml
.bettercodehub.yml
.codebeatignore
.npmrc
.babelrc
.eslintrc.js
.eslintcache
.editorconfig
.gitignore
package-lock.json
yarn.lock
