coverage/
dev-docs/
examples/
scripts/
src/

*.log
jest.config.js
appveyor.yml
codecov.yml
.travis.yml
.bettercodehub.yml
.codebeatignore
.npmrc
.babelrc
.eslintrc.js
.eslintcache
.editorconfig
.gitignore
.node_repl_history
.yarn-integrity
.idea
.vscode
.DS_Store
package-lock.json
yarn.lock
